<div class='new'>
	<div class="container">
		<h1>Add New Item</h1>
		<form action="/new" class="form-inline" method="POST">
			<input type='text' placeholder = 'ex: Kick some ass' name='content'>
			<button type='submit'>Add</button>
		</form>
	</div>
</div>